*.class
*.properties
*.jar

!/external/WebSocket.jar


*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

imgs/

# IntelliJ
/out/
/.idea/
/*.iml
/*.iws

# config files
config.properties
database.db
logs


# gradle
.gradle
/build/
